.user-form {
    margin: auto;
    width: 50%;
    /* padding: 10px;
    display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* z-index: 0; */
    /* position: fixed; */
    text-align: center;
    /* background-color: white; */
    color: black;

    /* opacity: 30%; */
}

/* 
.background {
    background-image: url("library_picture.jpeg");
    background-size: cover;
    height: 100vh;
    z-index: 1;
    opacity: 70%;
} */
/* 
body {
    /* background-color: #615B32; */
/* background-image: url("library_picture.jpeg");
    background-size: cover; */
/* position: absolute;
} */



body {
    background-image: url("library_picture.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
}

.details {
    margin: auto;
    width: 50%;
    /* padding: 10px;
    display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* z-index: 0; */
    /* position: fixed; */
    text-align: center;
    background-color: white;
    color: #E6D977;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#hompage-wrapper {
    background-color: white;
    opacity: 0.75;
    padding-bottom: 20px;
    margin-left: 20%; 
    margin-right: 20%;
}

#each-book {
    list-style-type: none;
    border: 1px solid;
    margin: 20px;
    padding: 10px;
}

#book-title {
    display: block;
    position: relative;
    left: 0;
    color: #E6D977;
}


