.user-form {
    margin: auto;
    width: 50%;
    align-items: center;
    text-align: center;
    color: black;
}

body {
    /* background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url("library_picture.jpeg"); */
    background-image: url("library_picture.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-family: monospace;
    background-color: #613613;
}

.details {
    margin: auto;
    width: 50%;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #E6D977;
    padding-right: 25px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 25px;

}

#details2 {
    display: block;
}

p {
    color: black;
}

#hompage-wrapper {
    background-color: white;
    /* opacity: 0.75; */
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
}

#each-book {
    list-style-type: none;
    border: 1px solid;
    margin: 20px;
    padding: 10px;
}

#book-title {
    display: flex;
    position: relative;
    left: 0;
    color: blue;
}

#search-form {
    padding: 10px;
}

.divider {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.search-results {
    list-style-type: none;
}

.book-info {
    display: flex;
    justify-content: space-between;
}

.own-btn {
    margin: 5px;
}

#review-field {
    width: 300px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
}

#rating-cover {
    top: 0;
    right: 0;
    position: absolute;
}

.details-ratings {
    position: relative;
    display: block;
}

.review-form {
    display: block;
    clear: both;
    padding-top: 100px;
}

.book-rating-details {
    float: left;
}

.review-contents {
   text-align: left;
   padding-left: 10px;
}

.review-css {
    border: .2px solid #E6D977;
    padding: 1px;
    /* box-shadow:0 0 4px 4px rgba(0,0,0,0.06); */
    border-radius: 2%;
}

#search-book-details {
    text-align: left;
}

#search-field {
    margin: 10px;
    margin-bottom: 15px;
}