{% extends 'base.html' %}

{% block title %}Details{% endblock %}
{% block body %}
<div class="details" id="details2">

    <h1>{{ book.title }}</h1>
    <div class="details-ratings">
        <div id="rating-cover">
            <img src=" {{ book.book_cover }} " />
        </div>
        <div class="book-rating-details">
            <p class="review-contents">
                Title: {{ book.title }}
            </p>
            <p class="review-contents">
                Author: {{ book.author}}
            </p>
            <p class="review-contents">
                Average rating: {{ avg_ratings }} {% if avg_ratings is number %} / 5 {%endif%}
            </p>
        </div>
    </div>

    {% if "user_id" in session %}
    <form action="/rate_book" method="POST">

        <div class="review-form">
            <h1 id="review-title">Review this book</h1>
            <p class="review-contents">
                Rating: <input type="number" name="score" min="1" max="5" class="review-css">
            </p>
            <p class="review-contents">
                Write a review: <input type="text" placeholder="What did you think?" name="review" id="review-field" class="review-css"></input>
            </p>
            <input style="display: none;" name="book_id" value="{{ book.book_id }}">
            <p>
                <input type="submit">
            </p>

    </form>
</div>
{% endif %}

<div>

    <h2>Book Reviews</h2>
    {% for rating in book.ratings %}
    <div class="divider">
        <br>
        <p class="review-contents">
            Rating: {{ rating.score }}
        </p>
        <p class="review-contents">
            Review: {{ rating.body }}
        </p>
    </div>
    {% endfor%}
</div>

</div>
{% endblock %}