{% extends 'base.html' %}

{% block title %}Details{% endblock %}
{% block body %}
<h1>{{ book.title }}</h1>

<p>
    Title: {{ book.title }}
</p>
<p>
    Author: {{ book.author}}
</p>

{% for rating in ratings %}
<p>
    {{ rating.body }}
</p>
{% endfor %}

{% if "user_id" in session %}
<form action="/rate_book" method="POST">
   <h1>Book Review:</h1>
    <p>
      Score <input type="number" name="score">
    </p>

    <p>
      Body <input type="text" name="review">
    </p>

    <p>
      <input type="submit">
    </p>
</form>
{% endif %}


{% endblock %}