{% extends 'base.html' %}
{% block title %}My Library Home Page{% endblock %}

{% block body %}


<div id="hompage-wrapper">
  <div class="user-form">
    
    <div>
      <h2 class="form-header" id="create">Create an Account</h2>
      <form action="/users" method="POST">

        <p>
          <title> Email </title>
          Email
          <input type="text" name="email">
        </p>
        <p>
          <title> Username </title>
          Username
          <input type="text" name="username">
        </p>
        <p>
          <title> Password </title>
          Password
          <input type="password" name="password">
        </p>

        <p>
          <input type="submit">
        </p>
      </form>
    </div>

    <div>
      <h2 class="form-header" id="login">Log In</h2>
      <form action="/login" method="POST">
        <p>
          Username <input type="text" name="username">
        </p>

        <p>
          Password <input type="password" name="password">
        </p>

        <p>
          <input type="submit">
        </p>
      </form>
    </div>
  </div>
</div>

  {% endblock %}