{% extends 'base.html' %}

{% block title %}{{ user.user_name }} - Details{% endblock %}

{% block body %}

<div class="details">
   
    <h1 class="username">{{ user.user_name }}</h1>




    <h2 class="owned-book">Owned Books</h2>
    <!-- Loop through owned books -->
    <ul id="book_library">
        {% for book in user.users_library %}
        <li id="each-book">
            <a id="book-title" href="/books/{{ book.book_id }}">{{ book.title }}</a>
            <p id="book-title">By: {{ book.author }}</p>
            <img id="book-image" src="{{ book.book_cover }}"/>
            <div id="review-btn">
                <button><a href="/books/{{ book.book_id }}">Review this book</a></button>
            </div>
</li>
  {% endfor %}
</ul>


</div>
{% endblock %}