{% extends 'base.html' %}

{% block title %}{{ user.username }} - Details{% endblock %}

{% block body %}
<h1>{{ user.username }}</h1>

<p>
  {{ user.email }}
  {{ user.username}}
</p>

<h2>Owned Books:</h2>
<!-- Loop through owned books -->
<ul>

</ul>
<form action="/rate_book" method="POST">
    <p>
        Book <input type="text" name="book_reviewed">
    </p>

    <p>
      Score <input type="number" name="score">
    </p>

    <p>
      Body <input type="text" name="review">
    </p>

    <p>
      <input type="submit">
    </p></form>

{% endblock %}